<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs',title)  %> 
<body>
    <%- include('partials/header.ejs', title)  %> 

    <main class='contenedor'>
        <%- include('partials/sideBar.ejs', proyectos)  %> 
        
        <div class="contenido-principal">
            <h1><%=nombrePagina%> - <%= proyecto.nombre %>  </h1>
            <pre><% vardump(proyecto)  %>  </pre>

            <div class="contenedor-acciones">
                <a href="/proyecto/editar/<%= proyecto.id %> " class="boton">Editar Proyecto</a>
                <button class="boton eliminar" type="button" id="eliminar-proyecto" >Eliminar Proyecto</button>
        
            </div>

          </div>

    </main>
  


    
</body>
</html>